.idea/
.vscode/
*.sw*
*.iml
# The file containing environment variables
**/venv

# Ignore Logs
logs.
*.log
p.py
pp.py
# other
lesson_api/less_1/probe.py
__pycache__
Thumbs.db
.DS_Store
probe.py
db.*
*.db
media/
# config  files
auth.py
*.env
p.py
practic/
node_*/
dist/
img/
tests/